@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-body: "Work Sans", sans-serif;

  --bg-body: #F9F9F9;
  --bg-secondary: #F0F0F0;
  --bg-sidebar: #FEFCFB;
  --border-color: #D9D9D9;

  --text-body: #202020;
  --text-secondary: #646464;

  --link-color: #EF5F00;
  --link-hover-color: #CC4E00;

  --bg-sidebar-header: #FFEFD6;
  --text-sidebar-header: #582D1D;

  --btn-bg: #F76B15;
  --btn-hover-bg: #EF5F00;
  --btn-active-bg: #CC4E00;
  --btn-disabled-bg: #FFDFB5;
  --btn-text: #FEFCFB;
  --btn-disabled-text: #FFC182;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body);
  color: var(--text-body);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#cart-toggle-btn {
  height: 2rem;
  width: auto;
  cursor: pointer;
  border: solid 1px var(--border-color);
  border-radius: 4px;
  padding: 2px;
  background-color: var(--bg-body);
}

main {
  --sidebar-width: 250px;
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;

  & .sidebar {
    width: var(--sidebar-width);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    & #sidebar-toggle {
      position: absolute;
      top: 1rem;
      left: -3.5rem;
    }
  }

  @media (min-width: 576px) {
    & .content {
      margin-right: var(--sidebar-width);
      transition: margin-right 0.3s ease-in-out;
    }
  }

  &:has(#cart-toggle:checked) {
    & .sidebar {
      transform: translateX(100%);
      width: var(--sidebar-width);
    }

    & .content {
      margin-right: 0;
    }
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.15s ease-in;

  &:hover {
    color: var(--link-hover-color);

    &:not(:has(svg)) {
      text-decoration: underline;
    }
  }
}

footer {
  position: relative;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: 1rem 1.5rem;

  & svg {
    --size: 1.2rem;
    padding-inline-start: 6px;
    height: var(--size);
    width: var(--size);
  }

  & div {
    width: 100%;
    text-align: center;

    &.cta {
      font-size: 1.25rem;
      text-align: center;

      & a {
        text-wrap-mode: nowrap;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    & div {
      width: auto;
      min-width: 12rem;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }
  }
}

.sidebar {
  position: fixed;
  inset: 0 0 0 auto;
  background-color: var(--bg-sidebar);
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  & .header {
    padding: 1rem;
    border-bottom: solid 1px var(--border-color);
    background-color: var(--bg-sidebar-header);
    color: #582D1D;

    & #cart-total {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      text-align: right;
      margin-top: .5rem;
    }

    & .header-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .5rem;

      & svg {
        height: 2rem;
        width: auto;
      }
    }
  }
}

.content {
  padding: 1rem;

  .header {
    margin-right: 6rem;
  }
}

#shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
}

.card {
  border: solid 1px var(--border-color);
  border-radius: 8px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & .name {
    font-weight: normal;
    margin-bottom: auto;
  }

  & .image {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    object-position: center;
    border-bottom: solid 1px var(--border-color);
  }

  & .details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  & .price {
    font-size: 2.5rem;
    font-weight: 200;
    margin: .5rem 0 .5rem auto;
  }

  & .description {
    margin: .5rem 0;
    color: var(--text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & button {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: solid 2px transparent;
    border-radius: 4px;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
    box-sizing: border-box;
    margin-left: auto;

    &:hover {
      background-color: var(--btn-hover-bg);
    }

    &:active {
      background-color: var(--btn-active-bg);
    }

    &:focus {
      border: solid 2px var(--btn-disabled-text);
    }

    &:disabled {
      background-color: var(--btn-disabled-bg);
      color: var(--btn-disabled-text);
      cursor: not-allowed;
      border: solid 2px transparent;
    }
  }
}

#cart-items {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 120px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }
}

.cart-item {
  padding: .75rem 1rem;
  text-align: right;

  & .name {
    font-weight: 500;
    margin: 0;
  }

  & .price {
    font-weight: 300;
    margin: 0;
    margin-top: .25rem;
  }

  & .remove-btn {
    background: none;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #DD4425;
    cursor: pointer;
    padding: .25rem;
    /* margin-left: .25rem; */
    vertical-align: middle;

    &:hover {
      border-color: #DD4425;
    }

    &:active {
      background-color: var(--bg-secondary);
    }

    & svg {
      height: 1.2em;
      width: auto;
    }
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 1rem;

  & h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-body);
  }

  & p {
    font-size: 1.25rem;
    color: var(--text-secondary);
  }
}
